<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="../Super brocoli.png"/>
	<title>Iniciar sesión</title>
</head>
<body>
	<fieldset>
		<legend>Inicio de sesión</legend>
		<form action="../dynamics/login.php" method="POST">
			<legend>
				Correo electrónico: <input type="email" name="email" required>
			</legend>
			<br><br>
			<legend>
				Contraseña: <input type="password" name="contra" required>
			</legend>
			<br><br>
			<input type="submit" name="enviar">
		</form>
		<br><br>

		<a href="register.html"><button>¿No tienes una cuenta todavía? Crea una</button></a>
	</fieldset>
</body>
</html>