<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<fieldset>
		<legend>Inicio de sesión</legend>
		<form action="../dynamics/register.php" method="POST">
			<legend>
				Nombre <input type="text" name="nombre" required>
			</legend>
			<br><br>
			<legend>
				Primer apellido <input type="text" name="primer_apellido" required>
			</legend>
			<br><br>
			<legend>
				Segundo apellido <input type="text" name="segundo_apellido" required>
			</legend>
			<br><br>
			<legend>
				Número de cuenta o RFC: <input type="text" name="num_cuenta" maxlength="12" required>
			</legend>
			<br><br>
			<legend>
				Fecha de nacimiento: <input type="date" name="fecha" required>
			</legend>
			<br><br>
			<legend>
				Correo electrónico institucional: <input type="email" name="email" required>
			</legend>
			<br><br>
			<legend>
				Contraseña: <input type="password" name="contra" required>
			</legend>
			<br>
			<label>Tipo de usuario:
				<select name="tipo" >
					<option value="lector">Lector</option>
					<option value="bibliotecario">Bibliotecario</option>
					<option value="administrador">Carlos Alf</option>
				  </select>
			</label>
			<br><br>
			<input type="submit" name="enviar">
		</form>
	</fieldset>
</body>
</html>