<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="../Super brocoli.png"/>
	<title>Reporte libro</title>
</head>
<body>
  <fieldset>
		<legend>Reporte de libro (inserta su id)</legend>
		<form action="reporte.php" method="POST">
			<legend>
				Libro <input type="text" name="libro" required>
			</legend>
			<br><br>
			<legend>Razón: 
				<select name="razon">
					<option value="mayor">Contiene material para personas mayores de edad</option>
					<option value="odio">Contiene discurso de odio</option>
					<option value="desinfo">Difunde desinformación</option>
					<option value="integridad">Incita acciones que atentan contra la integridad</option>
				</select>
			</legend>

			<br><br>
			<input type="submit" name="enviar">
		</form>
	</fieldset>
</body>
</html>