<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Solicitud para añadir obras a Super brocoli</h1>
    <table>
        
        <form action=./"" method= "POST">
            <fieldset style="width: 400px">
                <thead>
                
                    <th><label>Obra:</td>
                        <th><input type="text" names="Obra" require></td>
                    </label>
                
                <tr>
                </thead>
                    <tbody>
                    <td><label>Autor(Nombre, apellido)</td>
                        <td><input type="text" name="Autor" require></td>
                    </label>
                </tr>
                <tr>
                    <td><label>Año de publicación</td>
                        <td><input type="number" name="año" require></td>
                    </label>
                </tr>
                    <td><label>Editorial</td>
                        <td><input type="mail" name="editorial" require></td>
                    </label>
                </tr>
                <tr>
                    <td><label>Edición</td>
                        <td><input type="password" name="edicion" require></td>
                    </label>
                </tr>
                <tr>
                    <td><label>Razón para incluir la obra</td>
                        <td><input type="textarea" name="razon" require></td>
                    </label>
                </tr>
                <tr>
                    <td><input type="submit" value="Enviar" name="Enviar"></td></tr> 
            </fieldset>
        </form>
    </tbody>
    </table>
</body>
</html>